<button action="/throw" method= "post" name="rock" type="sumbit" value="rock">
  Rock
</button>
<button action="/throw" name="paper" type="sumbit" value="paper">
  Paper
</button>
<button action="/throw" name="scissors" type="sumbit" value="scissors">
  Scissors
</button>